{% extends 'authentication/base.html' %}
{% block user_name %}
    <a href="{% url 'authentication:adfa' %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
           {{ EMPNAME }}
    </a>
{% endblock %}

{% block login %}
    <a href="{% url 'authentication:logout' %}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
    </a>
{% endblock %}

{% block body %}
        <div class="container">
            <div class="container">
                <div class="jumbotron">
                    <h1>I am {{ role }}</h1>
                    <h2>My name is {{ first_name }} {{last_name }}</h2>
                    <h2>I have {{ leave_available }} leaves available.</h2>
                    <h2> {{ payslip }} {{ Allemp.first_name }}</h2>
                    {% for emp in emplist %}
                        <h2> {{ emp }} </h2>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="container">
            <div class="jumbotron">
                <h1>Take Leave</h1>
            </div>
        </div>

{#        <div class="container">#}
{#            <div class="info-form">#}
{#                <div class="jumbotron">#}
{#                    <form action="{% url "authentication:employee" %}" class="form-inlin justify-content-center" method="post">#}
{#                        {% csrf_token %}#}
{#                        <label for="start">Select Month Year</label>#}
{#                        <input type="month" name="start" in="0001-03" value="2018-05">#}
{#                        <button type="submit" name="button" value="see" class="btn btn-success ">See Payslip</button>#}
{#                        <button type="submit" name="button" value="generate" class="btn btn-success ">Generate Payslip</button>#}
{#                    </form>#}
{#                    {{ message }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{% endblock %}